<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head></head>
<body>
	<div>
		<form method="post">
			<input type="hidden" name="id" id="id" th:value="${obj.id}">
			<input type="hidden" name="region" th:value="${obj.region}">
			<input type="hidden" name="organization" th:value="${obj.abbreviation}">
			<input type="hidden" name="synopsis" th:value="${obj.synopsis}">
			<input type="hidden" name="site" th:value="${obj.site}">
			<input type="hidden" name="website" th:value="${obj.website}">
			<input type="hidden" name="phone" th:value="${obj.phone}">
			<input type="hidden" name="email" th:value="${obj.email}">
			<input type="hidden" id="certificationstatus" name="certificationstatus" >
			<input type="hidden" name="businesslicense" th:value="${obj.businesslicense}">
			<input type="hidden" name="status" th:value="${obj.status}">
			<input type="hidden" name="createuid" th:value="${obj.createuid}">
			<input type="hidden" name="updateuid" th:value="${obj.updateuid}">
			<input type="hidden" name="audituser" th:value="${obj.audituser}">
			<table>
				<tr>
					<td style="width:300px;padding-bottom: 16px;">
		            	<label>审核 </label>
						<input  style="margin-left: 55px" id="stateAgree" name="stateRadio" type="radio" value="1" />同意
						<input  style="margin-left: 15px" id="stateRefuse" name="stateRadio" type="radio" value="2" />拒绝
		            </td>
				</tr>
				<tr>
					<td style="width:300px;padding-bottom: 16px;">
						<input name="remark" th:value="${obj.remark}" class="easyui-textbox" data-options="label:'备注',height:30" style="width:100%" >
					</td>
				</tr>
			</table>
		</form>
	</div>
	
	<script type="text/javascript">
	   $('#dlg').dialog('center');
	</script>
</body>
</html>
