<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="manage/shared/_layout::header('机构设置')">
</head>
<body>
<div class="easyui-layout" data-options="fit:true">
<div id="lt" class="easyui-layout" data-options="fit:true">
    <div id="north" data-options="region:'north'" style="height:38px; ">
    	<form id="frmQuery">
    		<table id="tbQuery">
    			<tr>
    			<td>
	    			<th:block th:if="${entity.IsAdd}">
	    				<a href="javascript:void(0)" class="easyui-linkbutton" data-options="iconCls:'fa fa-plus'" onclick="newModel()" style="margin-left: 10px;">添加</a>
			    	</th:block>
			        <th:block th:if="${entity.IsEdit}">
			        	<a href="javascript:void(0)" class="easyui-linkbutton" data-options="iconCls:'fa fa-edit'" onclick="editModel()">修改</a>
			        </th:block>
			        <th:block th:if="${entity.IsDelete}">
			        	<a href="javascript:void(0)" class="easyui-linkbutton" data-options="iconCls:'fa fa-remove'" onclick="destroyModel()">删除</a>
			        </th:block> 
			        
			        <th:block th:if="${entity.IsEditAcount}">
			        	<a href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-man" onclick="editMan()">管理员账号</a>
			        </th:block>
			        
			        </td>
		       <tr/>
    		</table>
    	</form>
		
        
    </div>
    <div data-options="region:'center',title:'机构列表',iconCls:'icon-grid'">
        <table id="dg"></table>
    </div>
    </div>
</div>
<div id="dlg" class="easyui-dialog" style="width:900px;padding:20px;" data-options="closed:true,modal:true,border:'thin',buttons:'#dlg-buttons'"></div>
<div id="dlg-buttons">
    <a href="javascript:void(0)" class="easyui-linkbutton primary" onclick="saveModel()" style="width: 80px; color: #FFFFFF; background: #1c68bc; border: 1px solid #1c68bc;">保存</a>
    <a href="javascript:void(0)" class="easyui-linkbutton" onclick="javascript:$('#dlg').dialog('close')" style="width: 80px; color: #FFFFFF; background: #1c68bc; border: 1px solid #1c68bc;">取消</a>
</div>

<div id="dlgman" class="easyui-dialog" style="width:360px;padding:20px;" data-options="closed:true,modal:true,border:'thin',buttons:'#dlgman-buttons'">
</div>
<div id="dlgman-buttons">
    <a href="javascript:void(0)" class="easyui-linkbutton primary" onclick="saveMan()" style="width: 80px; color: #FFFFFF; background: #1c68bc; border: 1px solid #1c68bc;">保存</a>
    <a href="javascript:void(0)" class="easyui-linkbutton" onclick="javascript: $('#dlgman').dialog('close')" style="width: 80px; color: #FFFFFF; background: #1c68bc; border: 1px solid #1c68bc;">取消</a>
</div>
<div id="dlgaudit" class="easyui-dialog" style="width:500px;padding:20px;" data-options="closed:true,modal:true,border:'thin',buttons:'#dlgaudit-buttons',cache:false">
</div>
<div id="dlgaudit-buttons">
    <a href="javascript:void(0)" class="easyui-linkbutton primary" onclick="saveAudit()" style="width: 80px; color: #FFFFFF; background: #1c68bc; border: 1px solid #1c68bc;">保存</a>
    <a href="javascript:void(0)" class="easyui-linkbutton" onclick="javascript: $('#dlgaudit').dialog('close')" style="width: 80px; color: #FFFFFF; background: #1c68bc; border: 1px solid #1c68bc;">取消</a>
</div>
<script type="text/javascript">
$(function(){
	makeGrid();
})
function makeGrid() {
	$('#dg').datagrid({
		url: '/manage/organ/list',
		idField: 'id',
		rownumbers: true,
		singleSelect: true,
		queryParams: {status:0, keyword:""},
		fit:true,
		pagination: true,
		rownumbers:true,
		pageSize: 20,
		pageList: [10, 20, 30, 40, 50],
		columns: [
        	[
        		{ field:'code',title:'编号',width:150,align:'center' },
        		{ field:'name',title:'机构名称',width:160,align:'center'},
        		{ field:'abbr',title:'备注',width:160,align:'center' },
        		{ field:'phone',title:'电话',width:120,align:'center' },
        		{ field:'principal',title:'负责人',width:160,align:'center' },
        		{ field:'mobile',title:'手机号',width:120,align:'center' },
        		{ field:'email',title:'邮箱',width:160,align:'center'},
        		{ field:'fax',title:'网址',width:160,align:'center' },
        		{ field:'region',title:'地址',width:120,align:'center' },
        		{ field:'status',title:'认证状态',width:160,align:'center', formatter: function (value) {
                    switch (value) {
                    case 0: return '草稿';
                    case 1: return '待审核';
                    case 2: return '已审核';
                    default: return '';
                }
            }},
        		//{ field:'businesslicense',title:'营业执照',width:160,align:'center', formatter: function (value) {
                    //return '查看';
            //} },
        	]
        ]
	});
}
//添加
function newModel() {
    $('#dlg').dialog({ href: '/manage/organ/edit?id=', title: '添加' }).dialog('open').dialog('center');
}
//修改
function editModel() {
    var row = $('#dg').datagrid('getSelected');
    if (row) {
        $('#dlg').dialog({ href: '/manage/organ/edit?id='+row.id, title: '编辑' }).dialog('open').dialog('center');
    }
}
//删除
function destroyModel() {
    var row = $('#dg').datagrid('getSelected');
    if (row) {
        $.messager.confirm('提示', '确定要删除吗?', function (r) {
            if (r) {
                $.post('/manage/organ/delete', { id: row.id }, function (result) {
                    if (result.code=='200') {
                        $('#dg').datagrid('reload');
                    } else {
                        messageAlert('提示', result.msg, 'error');
                    }
                }, 'json');
            }
        });
    }
}
//保存
function saveModel() {
	var regionid;
    if (!regionid) regionid = $('#zoneid').combobox('getValue');
    if (!regionid) regionid = $('#cityid').combobox('getValue');
    if (!regionid) regionid = $('#provinceid').combobox('getValue');
    $('#regionid').val(regionid);
    $('#region').val($('#provinceid').combobox('getText') + $('#cityid').combobox('getText') + $('#zoneid').combobox('getText'));
    $('#businesslicense').val($('#imgpic').attr('src'));
    $('#dlg').find('form:eq(0)').form('submit', {
        url: '/manage/organ/edit',
        onSubmit: function () {
            return $(this).form('validate');
        },
        success: function (result) {
            var result = eval('(' + result + ')');
            if (result.code!='200') {
                messageAlert('提示', result.message, 'error');
            } else {
                $('#dlg').dialog('close');        // close the dialog
                $('#dg').datagrid('reload');    // reload the user data
            }
        }
    });
}

//管理员账号
function editMan() {
    var row = $('#dg').datagrid('getSelected');
    if (row) {
        $('#dlgman').dialog({ href: '/manage/organ/editmanager?pid=' + row.id, title: '管理员账号' }).dialog('open').dialog('center');
    }
}


function auditModel() {
    var row = $('#dg').datagrid('getSelected');
    if (row) {
    	if (row.status != 0 ) {

            messageAlert('提示', '机构信息不需要审核', 'warning');
            return;
        }
        $.messager.confirm('提示', '确定要送审吗?', function (r) {
            if (r) {
                $.post('/manage/organ/review', { id: row.id }, function (result) {
                	//alert(JSON.stringify(result))
                    if (result.code=='200') {
                    	messageAlert('提示', result.message, function(){
                    		
                    	});
                    	$('#dg').datagrid('reload'); 
                    } else {
                        messageAlert('提示', result.message, 'error');
                    }
                }, 'json');
            }
        });
    }
}

function saveMan() {
    $('#dlgman').find('form:eq(0)').form('submit', {
        url: '/manage/organ/editmanager',
        onSubmit: function () {
            return $(this).form('validate');
        },
        success: function (result) {
            var result = eval('(' + result + ')');
            if (result.code!='200') {
                messageAlert('提示', result.message, 'error');
            } else {
                $('#dlgman').dialog('close');        // close the dialog
            }
        }
    });
}

function searchModel() {
    $('#dg').datagrid({ url: '/manage/organ/list', queryParams: { status: $('#status').combobox('getValue'), keyword: $('#keyword').textbox('getText') } });
}

//状态
function onState(){
	$('#status').combobox({
		valueField:'id',
	    textField:'text',
	    editable:false,
	    height:'30',
	    data:[{
	        "id":0,
	        "text":"全部"
	    },{
	        "id":1,
	        "text":"未认证"
	    },{
	    	"id":2,
	    	"text":"认证中"
	    },{
	    	"id":3,
	    	"text":"已认证"
	    }]
	})
}
</script>
</body>
</html>