<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="manage/shared/_layout::header('机构设置')">
</head>
<body>
<div class="easyui-layout" data-options="fit:true">
    <div id="north" data-options="region:'north'" style="height:38px; ">
    	<th>
    		<label>认证状态:</label>
			<input name="status" id="status" class="easyui-combobox" style="width:150px;height:30px">
    	</th>
    	<th>
			 <input name="keyword" id="keyword" class="easyui-textbox" data-options="prompt:'部门名称' " style="height:30px;width:150px">
    	</th>
    	<th>
    		<a class="easyui-linkbutton" data-options="iconCls:'fa fa-search'" onclick="onSearch()">查询</a>
    	</th>
        <th>
    		<a href="javascript:void(0)" class="easyui-linkbutton" data-options="iconCls:'fa fa-plus'" onclick="newModel()" style="margin-left: 10px;">添加</a>
    	</th>
        <th>
        	<a href="javascript:void(0)" class="easyui-linkbutton" data-options="iconCls:'fa fa-edit'" onclick="editModel()">修改</a>
        </th>
        <th>
        	<a href="javascript:void(0)" class="easyui-linkbutton" data-options="iconCls:'fa fa-remove'" onclick="destroyModel()">删除</a>
        </th>
    </div>
    <div data-options="region:'center',iconCls:'icon-grid'">
        <table id="dg"></table>
    </div>
</div>
<div id="dlg" class="easyui-dialog" style="width:720px;padding:20px;" data-options="closed:true,modal:true,border:'thin',buttons:'#dlg-buttons'">
</div>
<div id="dlg-buttons">
    <a href="javascript:void(0)" class="easyui-linkbutton primary" onclick="saveModel()" style="width: 80px; color: #FFFFFF; background: #1c68bc; border: 1px solid #1c68bc;">保存</a>
    <a href="javascript:void(0)" class="easyui-linkbutton" onclick="javascript:$('#dlg').dialog('close')" style="width: 80px; color: #FFFFFF; background: #1c68bc; border: 1px solid #1c68bc;">取消</a>
</div>
<script type="text/javascript">
$(function(){
	makeGrid();
	onCombox();
})
function makeGrid() {
	$('#dg').datagrid({
		url: '/manage/organization/list',
		idField: 'id',
		rownumbers: true,
		singleSelect: true,
		queryParams: {status:0,key:''},
		fit:true,
		pagination: true,
		rownumbers:true,
		pageSize: 20,
		pageList: [10, 20, 30, 40, 50],
		columns: [
        	[
        		{ field:'id',title:'编号',width:150,align:'center' },
        		//{ field:'region',title:'地区编码',width:120,align:'center' },
        		{ field:'organization',title:'部门名称',width:250,align:'center' },
        		{ field:'abbreviation',title:'备注',width:160,align:'center' },
        		{ field:'phone',title:'电话',width:160,align:'center' },
        		{ field:'email',title:'邮箱',width:160,align:'center' },
        		{ field:'website',title:'网址',width:160,align:'center' },
        		{ field:'site',title:'地址',width:200,align:'center' },
        		{ field:'certificationstatus',title:'认证状态',width:160,align:'center',formatter:function(value){ 
        			if(value==0){ return "待审核"; } 
        			else if(value==1){ return "已审核";} 
        			else if(value==2){ return "未通过";}
    				else {return "";}
        			} 
        		},
        		{ field:'businesslicense',title:'营业执照',width:160,align:'center',formatter:function(value){return "查看"} },
        	]
        ]
	});
}
//添加
function newModel() {
    $('#dlg').dialog({ href: '/manage/organization/edit?id=', title: '添加' }).dialog('open').dialog('center');
}
//修改
function editModel() {
    var row = $('#dg').datagrid('getSelected');
    if (row) {
        $('#dlg').dialog({ href: '/manage/organization/edit?id='+row.id, title: '编辑' }).dialog('open').dialog('center');
    }
}
//删除
function destroyModel() {
    var row = $('#dg').datagrid('getSelected');
    if (row) {
        $.messager.confirm('提示', '确定要删除吗?', function (r) {
            if (r) {
                $.post('/manage/organization/delete', { id: row.id }, function (result) {
                    if (result.code=='200') {
                        $('#dg').datagrid('reload');
                    } else {
                        messageAlert('提示', result.message, 'error');
                    }
                }, 'json');
            }
        });
    }
}
//保存
function saveModel() {
    $('#dlg').find('form:eq(0)').form('submit', {
        url: '/manage/organization/edit',
        onSubmit: function () {
            return $(this).form('validate');
        },
        success: function (result) {
            var result = eval('(' + result + ')');
            if (result.code!='200') {
                messageAlert('提示', result.message, 'error');
            } else {
                $('#dlg').dialog('close');        // close the dialog
                $('#dg').datagrid('reload');    // reload the user data
            }
        }
    });
}
//查询
function onSearch(){
	$('#dg').datagrid({
		queryParams : {status:$('#status').combobox('getValue'),key:$('#keyword').textbox('getValue')},
	})
}

//认证状态
function onCombox(){
	$('#status').combobox({
     	url:'/manage/organization/state',
     	        valueField:'id',
			    textField:'text',
			    editable:false,
			    method:'get',
			    height:'30',
			    onSelect:function(data){
			    	$('#status').combobox("setValue",data.name);
			}
     });
}
</script>
</body>
</html>